__pycache__/
*.pyc
.vscode/
.idea/
.github/
.git/
.env
.venv
config.json
cc/
learn-claudecode/
/backend/services/ai-service/bak/
/.data/
/.claude/
/.data/
/.vite/
/backend/services/ai-service/.claude/
