# Global service configuration

API_GATEWAY_HOST=api-gateway
API_GATEWAY_PORT=8000

TASK_SERVICE_HOST=task-service
TASK_SERVICE_PORT=8004

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=codegenx
MYSQL_USER=user
MYSQL_PASSWORD=your_password
MYSQL_CHARSET=utf8mb4

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=boluo123

NACOS_SERVER_ADDR=127.0.0.1:8848
NACOS_NAMESPACE=public
NACOS_SCHEMA=http
NACOS_USER=nacos
NACOS_PASSWORD=nacos

# qdrant
QDRANT_URL=localhost
QDRANT_PORT=6333
QDRANT_API_KEY=
QDRANT_SIZE=512

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

USER_SERVICE_HOST=localhost
USER_SERVICE_PORT=50051
USER_SERVICE_NAME=user-service
USER_SERVICE_PROTO_NAME=user_service

APP_SERVICE_HOST=localhost
APP_SERVICE_PORT=50052
APP_SERVICE_NAME=app-service
APP_SERVICE_PROTO_NAME=app_service
APP_SERVICE_HTTP_PORT=8004
APP_SERVICE_REGISTER_HOST=
APP_SERVICE_REGISTER_PORT=8004

CHAT_SERVICE_HOST=localhost
CHAT_SERVICE_NAME=chat-service
CHAT_SERVICE_HTTP_PORT=8005
CHAT_SERVICE_REGISTER_HOST=
CHAT_SERVICE_REGISTER_PORT=8005

AI_SERVICE_HOST=localhost
AI_SERVICE_PORT=50053
AI_SERVICE_HTTP_PORT=8002
AI_SERVICE_NAME=ai-service
AI_SERVICE_PROTO_NAME=ai_service

JWT_SECRET=rainbow