{
  "agents": [
    {
	  "id":"01",
	  "token":"token_01",
	  "name":"main",
      "defaults": true,
      "workspace": "~/.bot",
      "model": "dashscope-qwen/qwen3.7-plus",
      "provider": "dashscope",
      "contextMaxTokens": 8192,
      "contextMaxHistoryTurns": 5,
      "contextSummaryMaxLength": 150,
      "temperature": 0.1,
      "maxToolIterations": 40,
      "reasoningEffort": null,
      "maxSameToolCalls": 3,
      "maxContinuationAttempts": 3,
      "maxCompactAttempts":  2,
      "maxTransportAttempts":  3,
      "transportBackoffBaseSeconds":  1.0,
      "transportBackoffMaxSeconds":  8.0,
      "maxSteps": 10,
      "maxSessions": 1000,
      "sessionIdleTimeoutSeconds": 1800,
      "sessionCleanupIntervalSeconds": 300

    }
  ],
  "providers": {
    "custom": {
      "apiKey": "",
      "apiBase": "",
      "extraHeaders": null
    },
    "dashscope": {
      "apiKey": "",
      "apiBase": "https://dashscope.aliyuncs.com/compatible-mode/v1",
      "extraHeaders": null
    },
    "openai": {
      "apiKey": "",
      "apiBase": null,
      "extraHeaders": null
    },
    "deepseek": {
      "apiKey": "",
      "apiBase": "https://api.deepseek.com/v1",
      "extraHeaders": null
    },
    "zhipu": {
      "apiKey": "",
      "apiBase": null,
      "extraHeaders": null
    },
    "vllm": {
      "apiKey": "",
      "apiBase": null,
      "extraHeaders": null
    }
  },
  "embedding": {
    "apiKey": "",
    "apiBase": "",
    "modelName": "",
    "dimensions": 512
  },
  "gateway": {
    "host": "0.0.0.0",
    "port": 8765,
    "heartbeat": {
      "enabled": true,
      "intervalS": 1800
    }
  },
  "tools": {
    "excluded": ["bash"]
  },
  "memory": {
    "search": {
      "searchTopK": 10,
      "searchScoreThreshold": 0.55,
      "shortLookbackDays": 7,
      "hybridVectorWeight": 0.7,
      "longTermWeight": 0.7,
      "mergeResultSimilarity": 0.8
    },
    "store": {
      "ttlDays": 10,
      "shortDuplicatedScoreThreshold": 0.90,
      "longMatchesScoreThreshold": 0.7,
      "longMatchesTopK": 3,
      "longDirectWriteImportanceThreshold": 0.79
    }
  },
  "monitor": {
    "llmLast5AvgLatency": 10,
    "llmInvokeLatency": 60,
    "TokenUsagePercent": 0.90,
    "ToolContinueFailCount": 3,
    "TurnMax": 20
  },
  "compact": {
    "maxToolResultTokens": 3000
  }
}