fastapi
uvicorn
httpx
sqlalchemy
aiomysql
redis
python-dotenv
pydantic-settings
greenlet
tzdata
loguru
grpcio
protobuf
grpcio-tools
nacos-sdk-python
Pillow
selenium
webdriver-manager
cos-python-sdk-v5
qdrant-client
opentelemetry-sdk
prometheus-client